# Data types 

define what kind of data is stored.

# Data structures 

define how that data is organized and accessed.

Data structures are built using data types and rely on them for correctness and efficiency.

# Strings
A string is a data type used to represent textual data. It is an ordered sequence of characters, where each character can be a letter, digit, symbol, or whitespace.

Strings are immutable, meaning once a string is created, its content cannot be changed. Any operation that appears to modify a string actually creates a new string in memory.

Strings preserve order, allowing characters to be accessed in a defined sequence. This makes them suitable for tasks such as text processing, data cleaning, and pattern matching.

They support a wide range of built-in operations and methods for manipulation, such as searching, slicing, formatting, and transformation, without altering the original string.

Strings are widely used to store:

Names and labels

Messages and descriptions

File paths and URLs

Textual data from files, databases, and APIs

strings are essential for handling and manipulating human-readable data in programs.

In [6]:
a='manish'
#in python there is positive and negative indexing
#positive indexing starts from 0 ,while negative indexing starts from -1
#print(a[0],a[-6])
a[0]+a[2]

'mn'

In [7]:
a='my name is Manish'
y='shane' 
a[-2]+a[-1]+a[-5]+a[-4]+a[6] #

'shane'

In [17]:
a='sushama'
a[0:7:1]
a[0:4:1] 
a[2:5:1] 
a[1:5] #default skip step is 1
a[:5] #default start state is 0
a[2:] #default end state is end of the string
a[1:5:2]
a[-1:-4:-1] 
a[-1:-4]

''

In [ ]:
s='Christmas is around the corner'
#print(s[-9])
#print(s[::2])
#print(s[:5])
#print(s[5:])
#print(s[-7:-3:1])
#print(s[::-1])
#print(s[::-1])
#print(s[-7:23:1])
#print(s[23:-7:1])
#print(s[23:-7:-1])
#print(s[-7:-3:-1])

In [ ]:
String
- len()
- count()
- upper()
- lower() 
- capitalize() 
- title() 

- find() 

-index() 
- replace() 
- split() 
- strip()

- isdigit() 
- isalpha()
-isalnum()

-endswith()
-startswith() 

-swapcase
-.join()

In [19]:
#built in functions
a='christmas'
len(a)

9

In [26]:
a=5
b=7 
#print('the value of a is {} and b is {}'.format(b,a))

In [29]:
c=b
b=a
a=c
a
b

5

In [32]:
a=5
b=7
a,b=b,a #why does this work
a
b

5

In [33]:
#packing and unpacking
a=10,20,30  #packing : system packs them in tuple 
a

(10, 20, 30)

In [40]:
a,b,c=10,20,30  #packing and unpacking
c

30

In [36]:
this is a
a=10

NameError: name 'this' is not defined

In [57]:
a='manisha is my name'
len(a) 
#count(a) 
a.count(a)  #counting no. of times a substring is repeated
b=a.upper()  #converts to upper case
b.lower()   #converts to lower case
a.title()   #every first alphabet of the word is capitalized

'Manisha Is My Name'

In [58]:
a.capitalize() #first alphabet of the string is capitalized

'Manisha is my name'

In [73]:
a='manisha'
a.find('m') #index number of the value
a.index('m') #find the index no.
a.replace('ma','op') #replacin the value 
a.split('i') #splitting the string based on the input
a.strip('i')  # based on the first and last word it can perform strip operation 
a.strip('m') 
a.strip('a') 
a.strip('n')

'manisha'

In [63]:
a=10;
b=20;

In [83]:
a='cgfuj'
a.isdigit()  
#only if all the substrings are int,isdigit gives a TRue 
a.isalpha() 
a.isalnum()

True

In [94]:
a='manisha'
a.endswith('ha') 
a.startswith('ma') 
a.swapcase() #change the casing
a.join('123')

'1manisha2manisha3'

In [96]:
a='bag'
b='kite' 
c=a+b 
c

'bagkite'

In [107]:
#datastructure : structure to manage your data
#list :
#ordered(indexing and slicing) 
#accepts all datatypes,thereby it is heterogeneous in nature 
#allows duplicates 
#allows nested list 
#mutability:list is mutable
a=[]
type(a)  
a=['bag','bottle','pencil'] 
a=[12,12.0,'megha',9+8j,True] 
a=[12,12,3,45] 
a=[12,[1,3],66,77] #nested list 
a=[12,13,14,15] 
a[1]='manoj'

In [109]:
a=[12,13,14,15] 
print(id(a))
a[1]='manoj' 
print(a,id(a))

2725278395840
[12, 'manoj', 14, 15] 2725278395840

In [ ]:
#Built in for list
1).append() 
2).extend()
3).pop() #
5)del() 
6).copy 
7).deepcopy
8).clear()
count() 
.index() 
.reverse()
.sort() 
a=[1,2,3]
a.insert(0,100) 
a

In [135]:
a=[12,13,14] 
a.append([12,89,66])  #adds one element at a time
a.append('kailash') 
a

[12, 13, 14, [12, 89, 66], 'kailash']

In [139]:
a.extend('0')  
a.

[12, 13, 14, [12, 89, 66], 'kailash', '0', '0']

In [142]:
b=[12,90,7]
b.extend([20,30,40]) 
b #adds multiple elements at  time and requires iterable

[12, 90, 7, 20, 30, 40]

In [149]:
a=[90,80,70,0] #removes values from the end
a.pop(0)  #can delete values at exact location

a

[80, 70, 0]

In [163]:
a=[90,80,70,0] 
#del(a) #removes the entire value with the variable
#a.clear() #removing all elements in a list 
a.remove(70) #accepts value and deletes them
a

[90, 80, 0]

In [174]:
a=[90,80,70,100] 

a.count(80) #counting the elements
#a.sort(reverse=True)  
a.sort() 
a

[70, 80, 90, 100]

In [177]:
a=['a','A','b','B'] 
a.sort() 
a

['A', 'B', 'a', 'b']

In [178]:
ord('a')

97

In [182]:
chr(ord('A')+32)

'a'

In [192]:
a=[200,12,56,13,14]
#sorted(a)  
#a.reverse() 
#a.index(200) 
a.insert(0,1200) 
a[0]=1000
a

[1000, 200, 12, 56, 13, 14]

In [256]:
import copy
a=[100,10,[9,8]] 
b=copy.copy(a) 
c=copy.deepcopy(a) 
a[2][0]='kl'
'''changes made in the original list will be reflected in the
copy but not in the deep copy'''
a 
c

[100, 10, [9, 8]]

In [234]:
a=[12,13,[1,2,[90,80]]] 
a[2][2][0] #accesing a nested list

90

In [253]:
#a=int(input('give your value'))
#a=list(input('give your value'))
#a=bool(input('give your value'))
#a=complex(input('give your value'))
a=eval(input('give value'))
#a+=2
#print(a,type(a)) 
a

give value 'klhuh'

'klhuh'

In [110]:
a=[12,13,14] 
len(a)

3

In [113]:
help(len) 
help(str.count)

Help on built-in function len in module builtins:

len(obj, /)
    Return the number of items in a container.

Help on method_descriptor:

count(...) unbound builtins.str method
    S.count(sub[, start[, end]]) -> int

    Return the number of non-overlapping occurrences of substring sub in
    string S[start:end].  Optional arguments start and end are
    interpreted as in slice notation.

In [120]:
#employee_information  
E1=['Manish',12,'m',['12k','89k','79k'],True] 
print(type(E1))
E2=['kavita',13,'f',67000000,False]

<class 'list'>

In [115]:
E1

NameError: name 'E1' is not defined

In [123]:
#type conversion
a=90
type(a) 
a=str(a) 
type(a)

str

In [129]:
#a='manish' 
a='90'
a=int(a) 
a

90

In [127]:
a=[90,80] 
a=str(a) 
a[0] 
a[-1]

']'

#### tuple :order,index,slicing,mutable,heterogeneous,duplicate?

In [ ]:
a=10,20,30
a=() 
type(a) 
a=(1,)
type(a) 
#a

In [230]:
a=(10,20.0,30+9j,'kl',True,[90,89]) #ordered
a[0] #indexing is possible
a[:] #slicing is possible 
#a[0]=900  #immutable
#heterogeneous 
b=(90,90,78,(777,666))  #duplicates allowed, nested is allowed

a

(10, 20.0, (30+9j), 'kl', True, [90, 89])

In [ ]:
#built in
t=(1,2,3,4,1)
t.count(1)
t.index() 
#len(t) 
#min(t)
#max(t) 
#sum(t) 
#del t

#### set :order,heterogeneous,mutable,duplicates,nested

In [ ]:
a={12,13,14} 
type(a) 
a={12}  
type(a) 
b=12,13
b=set(b) 
b

In [14]:
#a={12,4,5,99,'kl',[9,7,6]}  #unordered
a={12,4,5,99,'kl',(9,7,6)}  #unordered
a #accepts hashable datatpes 
#a[0]='kj'#havent checked mutability for sets
a={12,13,12} #does not accepts duplicates
#a={1,2,3,{5,6}} #sets mutable
a

{12, 13}

In [ ]:
#if something is mutable ,it is unhashable
#if something is immutable ,it is hashable

In [6]:
a=90
print(id(a)) 
a=90+2
print(id(a))

140707599037656
140707599037720

In [9]:
a=[90,6]
print(a,id(a)) 
a.append([9,7])
print(a,id(a))

[90, 6] 1544904199424
[90, 6, [9, 7]] 1544904199424

In [ ]:
#SET
#a={1,2,3,90,'kl'}
#a.add() 
#a.update('ghi')
#b=a.pop() 
#m.clear()  
#a={12,13,14}
#a.remove(14)
#a.discard(12) 
#sorted(a)

In [31]:
a={1,21,77,'kl',90} 
#a.add((12,13)) #adds one element at a time
#a.update((12,13)) #multiple elements at a time
#a.update('2') 
#a.pop() #randomly removing elements

In [44]:
a={12,13,14}
b={14,5,6} 
#a.union(b) 
#a|b #union
#a.intersection(b) 
#a &b #intersection
#a.difference(b)  
#a-b #difference
#b.difference(a) 
#all elements of B excluding the common elements
#a.symmetric_difference(b)
(a|b)-(a&b)
#b.symmetric_difference(a)
#all elements except the common elements

{5, 6, 12, 13}

In [ ]:
there are 2 classrooms in a school classA consistes of karan,shirisha,krish,
nagesh,saurabh and classB consist of sakshi,shrikant,sruthi,srishti . 
There was a competition in the school and students scored following 
marks in the competition. 
In competition1 karan,sruthi,sakshi scored 3.4,3.5,4.7 
and in competition2 karan,shirisha,nagesh,saurabh scored 12,13,14,15

how many students in classA only participated in competition2
how many students participated in only 1 competition
how many students participated in both the competition who were 
not part of classA
total number of students in school
total number of students in the competition
toal number of students in the competition who were not from class A

#### dictionaries  : some usecases for dictionary

Phone contacts – Name as key, phone number as value for instant lookup.

contacts = {
    "Mom": "9876543210",
    "Doctor": "9123456789",
    "Office": "9988776655"
}


ATM system – Account number as key, account details/balance as value. 
accounts = {
    1001: {"name": "Amit", "balance": 45000},
    1002: {"name": "Neha", "balance": 32000}
}


E-commerce cart – Product ID as key, quantity as value.

cart = {
    "P101": 2,
    "P205": 1,
    "P330": 4
}


Student grading system – Roll number as key, marks/grade as value. 

grades = {
    "CS01": "A",
    "CS02": "B+",
    "CS03": "A+"
}


Restaurant menu system – Dish name as key, price and availability as value. 

menu = {
    "Paneer Butter Masala": 280,
    "Masala Dosa": 120,
    "Veg Biryani": 220
}

In [45]:
a={'key':'value'}  
#order,het/hom,duplicates,
#nested,mutability
type(a)

dict

In [56]:
a={1:2,3:4} 
c=a.keys() 
a.values() 
b=a.items() 
a={1:2,3:4} 
a[1] 
a[3] 
a[1]=900 
a[7]=899 
a

[1, 3, 1, 3]

In [53]:
[1,3]*2

[1, 3, 1, 3]

In [62]:
a={1:2,3:4} 
a[1] 
a[3] 
a[1]=900 
a[7]=899 
a

{1: 900, 3: 4, 7: 899}

In [101]:
a={1:20,2:45,3:7}   #indexing not allowed
#a={1:{12:9,13:8},2:'s'}
#a={'megha':20,True:45,3+9j:7,(12,13):88,{1,2}:7}   
#a #values are homogeneous ,while keys allow only hashable datatype
a={1:20,2:45,3:7,1:9}  
a={1:20,2:45,3:7,11:20}  
a #no duplicates allowed for keys ,while allowed for values
a={9:{1:90}} #dict are unhashable and mutable
a={1:[12,13,14],2:[4,5]} 
a[1][0] 
a={9:99,7:77,8:88} 
b={12:33,14:44,15:55}

(9, 7, 8, 12, 14, 15)

In [86]:
a={12,13,14} 
print(id(a))
a.add(90) 
print(id(a))

1544903807872
1544903807872

In [89]:
a='manisha'
print(id(a))
#a[2]='77'
a=a.replace('n','77') 
print(id(a))

1544904452992
1544905129328

In [109]:
a={9:99,7:77,8:88} 
b={12:33,14:44,15:55} 
c=*a,*b 
type(c) 
dict.zip(b)

AttributeError: type object 'dict' has no attribute 'zip'

In [108]:
a=[1,2,3]
b=[5,6,7] 
a.zip(b)

AttributeError: 'list' object has no attribute 'zip'

In [ ]:
a={12:13,3:4,5:6}  
b={1:111,2:222,3:333}
a.get(12) 
a.update({12:999}) 

#a.fromkeys(b)
#a.fromkeys(a,b) 
dict.fromkeys(a,b) 
zip(a,b)

In [119]:
a={12:13,3:4,5:6}  
b={1:111,2:222,3:333} 
#dict.fromkeys(a,b)   
list(zip(a,b)) 
*a,*b

(12, 3, 5, 1, 2, 3)

In [117]:
a=[12,13,14]
b=[4,5,6]
list(zip(a,b))

[(12, 4), (13, 5), (14, 6)]

In [126]:
a={12:13,3:4,5:6} 
#del a 
#a.pop(12) 
a[13]=90 
a

{12: 13, 3: 4, 5: 6, 13: 90}

In [146]:
def fun1(a):
    for i in a:
        #if i %2==0:
            yield i 

x=fun1([12,13,25]) 
print(next(x)) 
print(next(x)) 
print(next(x))

12
13
25